
  <section class="income">
    <div class="income-title">Расходы</div>
    <div class="d-flex flex-wrap income-card" id="income-card">
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Еда</h5>-->
<!--          <div class="d-flex card-button">-->
<!--            <a href="#" class="btn btn-primary">Редактировать</a>-->
<!--            <a href="#" class="btn btn-danger">Удалить</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Жильё</h5>-->
<!--          <div class="d-flex card-button">-->
<!--            <a href="#" class="btn btn-primary">Редактировать</a>-->
<!--            <a href="#" class="btn btn-danger">Удалить</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Здоровье</h5>-->
<!--          <div class="d-flex card-button">-->
<!--            <a href="#" class="btn btn-primary">Редактировать</a>-->
<!--            <a href="#" class="btn btn-danger">Удалить</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Кафе</h5>-->
<!--          <div class="d-flex card-button">-->
<!--            <a href="#" class="btn btn-primary">Редактировать</a>-->
<!--            <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Удалить</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Авто</h5>-->
<!--          <div class="d-flex card-button">-->
<!--            <a href="#" class="btn btn-primary">Редактировать</a>-->
<!--            <a href="#" class="btn btn-danger">Удалить</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Одежда</h5>-->
<!--          <div class="d-flex card-button">-->
<!--            <a href="#" class="btn btn-primary">Редактировать</a>-->
<!--            <a href="#" class="btn btn-danger">Удалить</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Развлечения</h5>-->
<!--          <div class="d-flex card-button">-->
<!--            <a href="#" class="btn btn-primary">Редактировать</a>-->
<!--            <a href="#" class="btn btn-danger">Удалить</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Счета</h5>-->
<!--          <div class="d-flex card-button">-->
<!--            <a href="#" class="btn btn-primary">Редактировать</a>-->
<!--            <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Удалить</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Спорт</h5>-->
<!--          <div class="d-flex card-button">-->
<!--            <a href="#/uploadExpenses" class="btn btn-primary">Редактировать</a>-->
<!--            <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Удалить</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <a href="#/createExpenses" class="card-new" id="card-new">+</a>-->
<!--        </div>-->
<!--      </div>-->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="staticBackdropLabel">Вы действительно хотите удалить категорию?</h1>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success modal-footer-btn" id="modalDelete" data-bs-dismiss="modal">Да, удалить</button>
            <button type="button" class="btn btn-danger modal-footer-btn" data-bs-dismiss="modal">Не удалять</button>
          </div>
        </div>
      </div>
    </div>

  </section>