
  <section class="createIncomeAndExpenses">
    <div class="createIncomeAndExpenses-title">Редактирование дохода/расхода</div>
    <form action="" class="createIncomeAndExpenses-form">
      <select id="type" class="select">
        <option value="expense">Расходы</option>
        <option value="income">Доходы</option>
      </select>
      <select name="category" id="category" class="select">

      </select>
      <!--      <input type="text" placeholder="Категория..." id="category">-->
      <input type="number" placeholder="Сумма в $..." id="amount">
      <input type="date" placeholder="Дата..." id="date">
      <input type="text" placeholder="Комментарий..." id="comment">
    </form>
    <div class="createIncomeAndExpenses-actions">
      <a href="#" class="btn btn-success" id="create">Создать</a>
      <a href="#" class="btn btn-danger" id="back">Отмена</a>
    </div>
  </section>
